In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = {
    'age': [25, 30, 35, 40, 45],
    'height': [150, 160, 170, 180, 190],
    'weight': [50, 60, 70, 80, 90]
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)

normalized_df = pd.DataFrame(scaled_data, columns=df.columns)
print("\nNormalized Dataset(scaled to range [0,1]):")
print(normalized_df)
print("\nFeature-wise Min values After Scaling:")
print(normalized_df.min())
scaler=StandarsScalar()

Original Dataset:
   age  height  weight
0   25     150      50
1   30     160      60
2   35     170      70
3   40     180      80
4   45     190      90

Normalized Dataset(scaled to range [0,1]):
    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

Feature-wise Min values After Scaling:
age       0.0
height    0.0
weight    0.0
dtype: float64

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    'age': [25, 30, 35, 40],
    'gender': ['Male','Female','Male','Female'],
    'city': ['Hyderabad','Bangalore','Mumbai','Pune']
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
one_hot_encoder=OneHotEncoder(sparse_output=False)
columns_to_encode=['gender','city']
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns=one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df=pd.DataFrame(encoded_data, columns=encoded_columns)
print(encoded_df)
df_combined = pd.concat([df.drop(columns=columns_to_encode), encoded_df], axis=1)
print("\nDataset After One-Hot Encoding and Combination:")
print(df_combined)

Original Dataset:
   age  gender       city
0   25    Male  Hyderabad
1   30  Female  Bangalore
2   35    Male     Mumbai
3   40  Female       Pune
   gender_Female  gender_Male  city_Bangalore  city_Hyderabad  city_Mumbai  \
0            0.0          1.0             0.0             1.0          0.0
1            1.0          0.0             1.0             0.0          0.0
2            0.0          1.0             0.0             0.0          1.0
3            1.0          0.0             0.0             0.0          0.0

   city_Pune
0        0.0
1        0.0
2        0.0
3        1.0

Dataset After One-Hot Encoding and Combination:
   age  gender_Female  gender_Male  city_Bangalore  city_Hyderabad  \
0   25            0.0          1.0             0.0             1.0
1   30            1.0          0.0             1.0             0.0
2   35            0.0          1.0             0.0             0.0
3   40            1.0          0.0             0.0             0.0

   city_Mumbai  city_Pune
0          0.0        0.0
1          0.0        0.0
2          1.0        0.0
3          0.0        1.0

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    'age': [25, 30, 35, 40],
    'gender': ['Male', 'Female', 'Male', 'Female'],
    'city': ['Hyderabad', 'Bangalore', 'Mumbai', 'Pune']
}
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
label_encoder = LabelEncoder()
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['city_encoded'] = label_encoder.fit_transform(df['city'])
print("\nDataset After Label Encoding:")
print(df)

Original Dataset:
   age  gender       city
0   25    Male  Hyderabad
1   30  Female  Bangalore
2   35    Male     Mumbai
3   40  Female       Pune

Dataset After Label Encoding:
   age  gender       city  gender_encoded  city_encoded
0   25    Male  Hyderabad               1             1
1   30  Female  Bangalore               0             0
2   35    Male     Mumbai               1             2
3   40  Female       Pune               0             3

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    'age': [25, 30, 35, 40],
    'gender': ['Male','Female','Male','Female'],
    'city': ['Hyderabad','Bangalore','Mumbai','Pune'],
    'fav-fruit':['orange','mango','apple','banana']
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
one_hot_encoder=OneHotEncoder(sparse_output=False)
columns_to_encode=['gender','fav-fruit']
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns=one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df=pd.DataFrame(encoded_data, columns=encoded_columns)
print(encoded_df)
df_combined = pd.concat([df.drop(columns=columns_to_encode), encoded_df], axis=1)
print("\nDataset After One-Hot Encoding and Combination:")
print(df_combined)

Original Dataset:
   age  gender       city fav-fruit
0   25    Male  Hyderabad    orange
1   30  Female  Bangalore     mango
2   35    Male     Mumbai     apple
3   40  Female       Pune    banana
   gender_Female  gender_Male  fav-fruit_apple  fav-fruit_banana  \
0            0.0          1.0              0.0               0.0
1            1.0          0.0              0.0               0.0
2            0.0          1.0              1.0               0.0
3            1.0          0.0              0.0               1.0

   fav-fruit_mango  fav-fruit_orange
0              0.0               1.0
1              1.0               0.0
2              0.0               0.0
3              0.0               0.0

Dataset After One-Hot Encoding and Combination:
   age       city  gender_Female  gender_Male  fav-fruit_apple  \
0   25  Hyderabad            0.0          1.0              0.0
1   30  Bangalore            1.0          0.0              0.0
2   35     Mumbai            0.0          1.0              1.0
3   40       Pune            1.0          0.0              0.0

   fav-fruit_banana  fav-fruit_mango  fav-fruit_orange
0               0.0              0.0               1.0
1               0.0              1.0               0.0
2               0.0              0.0               0.0
3               1.0              0.0               0.0

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    'age': [25, 30, 35, 40],
    'gender': ['Male','Female','Male','Female'],
    'city': ['Hyderabad','Bangalore','Mumbai','Pune'],
    'fav-fruit':['orange','mango','apple','banana']
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
label_encoder = LabelEncoder()
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['fav-fruit_encoded'] = label_encoder.fit_transform(df['fav-fruit'])
print("\nDataset After Label Encoding:")
print(df)

Original Dataset:
   age  gender       city fav-fruit
0   25    Male  Hyderabad    orange
1   30  Female  Bangalore     mango
2   35    Male     Mumbai     apple
3   40  Female       Pune    banana

Dataset After Label Encoding:
   age  gender       city fav-fruit  gender_encoded  fav-fruit_encoded
0   25    Male  Hyderabad    orange               1                  3
1   30  Female  Bangalore     mango               0                  2
2   35    Male     Mumbai     apple               1                  0
3   40  Female       Pune    banana               0                  1