In [ ]:
import pandas as pd
screen_time = [5, 4, 3, 2, 1]
stu_name = ["thrishanth"]* len(screen_time)
id = [1, 2, 3, 4, 5]
dict1 = {"screen_time": screen_time, "stu_name": stu_name, "id": id}
df = pd.DataFrame(dict1)
print(dict1)

{'screen_time': [5, 4, 3, 2, 1], 'stu_name': ['thrishanth', 'thrishanth', 'thrishanth', 'thrishanth', 'thrishanth'], 'id': [1, 2, 3, 4, 5]}

In [ ]:
list =[1,2,3,4,5]
iterate_var=iter(list)
print(iterate_var)

<list_iterator object at 0x7baa3cdd33d0>

In [ ]:
for i in iterate_var:
  if i % 2 == 0:
    print(i)

2
4

In [ ]:
def square(i):
  for i in range(i):
    i = i + 2
  return i
res = square(10)
print(res)

11

In [ ]:
result = lambda x,y,z: x*y*z
print(result(10,20,30))

6000